@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

nav {
    background-color: black;
    display: flex;
    align-items: center;
    width: 100dvw;
}
nav .logo {
    display: flex;
    align-items: center;
}
nav .logo img {
    width: 35px;
    margin: 0 5px 0 20px;
}
nav .logo h2 {
    color: white;
}
nav .links{
    margin-left: 50px;
}
nav .links a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 30px 25px;
    transition: all 0.3s;
}
nav .links a:hover{
    background-color: rgb(54, 54, 54);
}
.container {
    width: 100%;
    height: 70vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen {
    width: 80%;
    height: 70vh;
    /* background-color: rgb(20, 20, 20); */
    background-image: url('assets/wallpaperflare.com_wallpaper.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    margin-top: 50px;
    padding-bottom: 30px;
    border-radius: 15px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.screen::-webkit-scrollbar {
    display: none;
}
.screen h1 {
    padding: 20px 20px 20px 35px;
    font-size: 25px;
}
.songItem {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgba(192, 192, 192, 0.300);
    width: 36%;
    padding: 5px 10px 3px 10px;
    margin: 10px 0 0 25px;
    color: black;
    border-radius: 50px;

    .titlesec .title {
        font-size: 17px;
        color: rgb(216, 216, 216);
        cursor:default;
    }
    .timestampsec .timestamp {
        cursor: default;
    }
    i {
        cursor: pointer;
        font-size: 20px;
        margin-left: 6px;
    }
}

.songItem .titlesec {
    width: 60%;
}
.songItem .titlesec{   /*To hide extra text of title inside that div*/
    overflow: hidden;
}
.songItem .imgsec img{
    width: 50px;
    border-radius: 50px;
}

/* Bottom Section */

.bottom {
    /* position: sticky; */
    position: relative;
    top: 40px;
    width: 100dvw;
    height: 100px;
    overflow-x: hidden;
    background-color: black;
}
body::-webkit-scrollbar{    /*It will hide x-axis scroll bar for entire html body*/
    display: none;
}
.bottom .seeker {
    display: flex;
    align-items: center;
    justify-content: center;
    
    input[type="range"] {
        width: 80%;
        margin-top: 20px;
        /* -webkit-appearance: none;
        appearance: none; */
        background-color: rgb(160, 160, 160);
        height: 2px;
        
        cursor: pointer;
    }
}
.bottom .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(231, 231, 231);
    margin-top: 10px;
    i{
      padding: 10px;
      cursor: pointer;
    }
    .fa-regular {
        font-size: 45px;
    }
    .fa-solid {
        font-size: 27px;
    }
}
.bottom .songInfo {
    position: absolute;
    top: 45px;
    left: 140px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content:left;
}
.bottom .songInfo img {
    width: 60px;
    margin-right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.bottom .songInfo span {
    color: white;
}

.bottom .songBottomImg {
    position: absolute;
    top: 36px;
    right: 150px;
    width: 45px;
    
    .bottom-img {
        border-radius: 5px;
        width: 50px;
    }
}


/*Responsive Screen for between 1200px and 901px*/
@media only screen and (max-width: 1200px) and (min-width: 901px) {
    body {
        background-color: rebeccapurple;
    }
    .songItem {
        background-color: rgba(192, 192, 192, 0.226);
        width: 50%;
    
        .titlesec .title {
            font-size: 18px;
        }
        .timestampsec .timestamp {
            cursor: default;
            font-size: 18px;
        }
        i {
            cursor: pointer;
            font-size: 18px;
            margin-left: 6px;
        }
    }
    .songItem .titlesec {
        width: 50%;
    }
    .songItem .imgsec img{
        width: 40px;
        border-radius: 50px;
    }

/*Bottom section*/
    .bottom {
        height: 120px;
    }
    .bottom .btns {
        i{
            padding: 10px;
            cursor: pointer;
        }
        .fa-regular {
            font-size: 45px;
        }
        .fa-solid {
            font-size: 27px;
        }
    }
    .bottom .songInfo {
        position: absolute;
        top: 45px;
        left: 115px;
        width: 24%; 
        font-size: 10px;
    }
    .bottom .songInfo img {
        width: 50px;
        margin-bottom: 8px;
    }
    .bottom .songBottomImg {
        position: absolute;
        top: 39px;
        right: 115px;
        width: 45px;
        
        .bottom-img {
            border-radius: 5px;
            width: 45px;
        }
    }
}

/* Responsive Scree for between 900px and 601px */
@media only screen and (max-width: 900px) and (min-width: 601px) {
    body {
        background-color: rebeccapurple;
    }
  
    nav .logo {
        width: 20dvw;
        h2 {
            font-size: 25px;
        }
        img {
            width: 30px;
            margin: 0 5px 0 20px;
        }
    }
    nav .links{
        margin-right: 15px;
    }
    nav .links a{
        font-size: 17px;
        padding: 30px 5px;
    }
    .screen h1 {
        padding: 20px 20px 20px 35px;
        font-size: 20px;
    }
    .songItem {
        width: 67%;
    
        .titlesec .title {
            font-size: 18px;
            color: rgb(216, 216, 216);
            cursor:default;
        }
        .timestampsec .timestamp {
            cursor: default;
            font-size: 16px;
        }
        i {
            cursor: pointer;
            font-size: 16px;
            margin-left: 6px;
        }
    }
    
    .songItem .titlesec {
        width: 60%;
    }
    .songItem .imgsec img{
        width: 40px;
        border-radius: 50px;
    }

/*Bottom section*/
    .bottom {
        height: 120px;
    }
    .bottom .btns {
        i{
            padding: 10px;
            cursor: pointer;
        }
        .fa-regular {
            font-size: 39px;
        }
        .fa-solid {
            font-size: 20px;
        }
    }
    .bottom .songInfo {
        display: block;
        position: absolute;
        top: 45px;
        left: 90px;
        width: 24%; 
        font-size: 10px;
       
    }
    .bottom .songInfo img {
        display: block;
        width: 45px;
        margin-bottom: 8px;
    }
    .bottom .songBottomImg {
        position: absolute;
        top: 35px;
        right: 90px;
        width: 45px;
        
        .bottom-img {
            border-radius: 5px;
            width: 45px;
        }
    }
    
}


/* Responsive Screen for between 600px and 451px*/
@media only screen and (max-width: 600px) and (min-width: 451px) {
    body {
        background-color: rebeccapurple;
    }
    nav {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav .logo {
        width: 20dvw;
        h2 {
            font-size: 15px;
        }
        img {
            width: 20px;
            margin: 0 5px 0 20px;
        }
    }
    nav .links{
        margin-right: 15px;
    }
    nav .links a{
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 30px 5px;
        transition: all 0.3s;
    }
    .screen h1 {
        padding: 20px 20px 20px 35px;
        font-size: 18px;
    }
    .songItem {
        display: flex;
        align-items: center;
        justify-content:space-between;
        background-color: rgba(192, 192, 192, 0.226);
        width: 87%;
        padding: 5px 10px 3px 10px;
        margin: 10px 0 0 25px;
        color: black;
        border-radius: 50px;
    
        .titlesec .title {
            font-size: 14px;
            color: rgb(216, 216, 216);
            cursor:default;
        }
        .timestampsec .timestamp {
            cursor: default;
            font-size: 12px;
        }
        i {
            cursor: pointer;
            font-size: 15px;
            margin-left: 6px;
        }
    }
    
    .songItem .titlesec {
        width: 50%;
    }
    .songItem .imgsec img{
        width: 40px;
        border-radius: 50px;
    }

/*Bottom section*/
    .bottom {
        height: 120px;
    }
    .bottom .btns {
        i{
            padding: 10px;
            cursor: pointer;
        }
        .fa-regular {
            font-size: 39px;
        }
        .fa-solid {
            font-size: 20px;
        }
    }
    .bottom .songInfo {
        display: block;
        position: absolute;
        top: 45px;
        left: 55px;
        width: 24%; 
        font-size: 10px;
       
    }
    .bottom .songInfo img {
        display: block;
        width: 45px;
        margin-bottom: 8px;
    }
    .bottom .songBottomImg {
        position: absolute;
        top: 35px;
        right: 50px;
        width: 45px;
        
        .bottom-img {
            border-radius: 5px;
            width: 45px;
        }
    }
    
}

/* Responsive Scree for below 451 */
@media only screen and (max-width: 450px) {
    body {
        background-color: rebeccapurple;
    }
    nav {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav .logo {
        width: 20dvw;
        h2 {
            font-size: 15px;
        }
        img {
            width: 20px;
            margin: 0 5px 0 20px;
        }
    }
    nav .links{
        margin-right: 15px;
    }
    nav .links a{
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 30px 5px;
        transition: all 0.3s;
    }
    .screen h1 {
        padding: 20px 20px 20px 35px;
        font-size: 16px;
    }
    .songItem {
        display: flex;
        align-items: center;
        justify-content:space-between;
        background-color: rgba(192, 192, 192, 0.226);
        width: 87%;
        padding: 5px 10px 3px 10px;
        margin: 10px 0 0 25px;
        color: black;
        border-radius: 50px;
    
        .titlesec .title {
            font-size: 14px;
            color: rgb(216, 216, 216);
            cursor:default;
        }
        .timestampsec .timestamp {
            cursor: default;
            font-size: 12px;
        }
        i {
            cursor: pointer;
            font-size: 15px;
            margin-left: 6px;
        }
    }
    
    .songItem .titlesec {
        width: 50%;
    }
    .songItem .imgsec img{
        width: 40px;
        border-radius: 50px;
    }

/*Bottom section*/
    .bottom {
        height: 120px;
    }
    .bottom .seeker {
        display: flex;
        align-items: center;
        justify-content: center;
        
        input[type="range"] {
            width: 80%;
            margin-top: 20px;
            /* -webkit-appearance: none;
            appearance: none; */
            background-color: rgb(160, 160, 160);
            height: 2px;
            cursor: pointer;
        }
    }
    .bottom .btns {
        i{
            padding: 10px;
            cursor: pointer;
        }
        .fa-regular {
            font-size: 39px;
        }
        .fa-solid {
            font-size: 20px;
        }
    }
    .bottom .songInfo {
        display: block;
        position: absolute;
        top: 45px;
        left: 45px;
        width: 22%; 
        font-size: 10px;
       
    }
    .bottom .songInfo img {
        display: block;
        width: 45px;
        margin-bottom: 8px;
    }
    .bottom .songBottomImg {
        position: absolute;
        top: 35px;
        right: 40px;
        width: 45px;
        
        .bottom-img {
            border-radius: 5px;
            width: 45px;
        }
    }
}